body {
	background-color: black;
	font-family: 'Baloo 2', cursive;
}

.container {
	background-color: #eaedef;
	margin: 45px auto;
	width: 320px;
	height: 520px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 #6A1B9A;
}

.result {
	height: 120px;
}

#history {
	margin: 0 20px;
	padding-top: 20px;
	height:20px;
	color: #919191;
	text-align: right;
	font-size: 20px;
}

#output {
	height:60px;
	font-size:40px;
	text-align: right;
	margin: 0px 20px;
}

.keys {
	height: 400px;	
}

.number, .operator, .empty {
	width: 50px;
	height: 50px;
	margin: 15px;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;
}

.number:focus, .operator:focus, .empty:focus {
	outline:0;
}

.number, .operator {
	cursor: pointer;
}

.operator {
	background-color: black;
	color:#797D7F;
}

.number:hover {
	font-size: 20px;
	background-color: #ffa500;
}

.operator:hover {
	font-size: 20px;
	background-color: #20b2aa;
	color: white;
}

